@font-face {
    font-family: "Gerstner-Programm";
    src:
        url("Gerstner-Programm/Gerstner-ProgrammRegular.woff2") format("woff2"),
        url("Gerstner-Programm/Gerstner-ProgrammRegular.woff") format("woff"),
        url("Gerstner-Programm/Gerstner-ProgrammRegular.ttf") format("truetype");
}

:root {
    --text-grey: #8c8c8c;
    --text-white: #fff;
    --text-black: #302e2a;
    --background-white: #fdfcf8;
}

html {
    background-color: var(--background-white);
    font-family: "Gerstner-Programm", Arial, system-ui, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100vw - 40px);
    padding-top: 18.5px;
    font-size: 24px;
    color: var(--text-black);
}

.clickable {
    cursor: pointer;
}

.header .clickable:hover {
    color: var(--text-grey);
}

.clickable:active {
}
